.slider single-item{
    background: #94F998;
}
.slick-list{
    background: #94F998;
    position: fixed!important;
    top: 0px;
    height: 32px;
    width:100%;
    z-index: 1041;
}
.slick-slide{
    font-family: 'Chivo', sans-serif;
    text-align: center;
}
.divslide{
    display: flex!important;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin-top: 5px;

    color: #0A0A0A;
}
.social{
    width: 30px;
    height: 30px;
}
.social:hover{
    transition: 0.2s;
    transform:scale(1.15);
}